:root
{
	--background: url("https://picsum.photos/1920/1080");
	--transparency: 0.4;
	--blurriness: 0.5;
}

html
{
	position: relative;
	background: black;
}

html::before
{
	--blur-size: calc(1em * var(--blurriness));
	--padding: calc(-3 * var(--blur-size));
	content: "";
	background: var(--background);
	background-position: center;
	background-size: cover;
	position: absolute;
	left: var(--padding);
	top: var(--padding);
	right: var(--padding);
	bottom: var(--padding);
	filter: blur(var(--blur-size));
	opacity: var(--transparency);
}

body
,.app-bar
,.ts-left-rail-wrapper
,.ts-embedded-container
,#app-messages-header
,.app-header-bar
,.messages-header-v2 .ts-section-divider::before
,.ts-middle
,.ts-middle-messages-body
,.ts-middle-messages-container
,virtual-repeat > .list-wrap.list-wrap-v3 > .item-wrap
{
	background: none;
}
