/* Configuration */
:root {
    --backcolor: midnightblue;
    --wallpaper: url("https://picsum.photos/1920/1080");
    --opacity: 0.5;
    --blur: 0.35;
}

body
{
    background: var(--backcolor);
}

body::before
{
    --blur-size: calc(1em * var(--blur));
    --padding: calc(-3.14159 * var(--blur-size));
    content: " ";
    background: var(--wallpaper);
    background-position: center;
    background-size: cover;
    filter: blur(var(--blur-size));
    opacity: var(--opacity);
    position: absolute;
    left: var(--padding);
    top: var(--padding);
    right: var(--padding);
    bottom: var(--padding);
}

.ts-middle
,.ts-embedded-container
,.ts-middle-messages-body
,.ts-middle-messages-container
,virtual-repeat > .list-wrap.list-wrap-v3 > .item-wrap
,.chat-style .self .message-actions-container
,.ts-left-rail-wrapper
,.app-bar
,.app-header-bar
{
    background: none;
}

.placeholder-item
,.messages-header-v2 .ts-section-divider::before
,.date-separator::before
,.left-rail-header.constant-border::after
{
    visibility: hidden;
}
